.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}


.footer {
    background-color: goldenrod;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
}

body {
    background: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/screen-shot-2020-04-07-at-10-52-45-am-1586281979.png)
    no-repeat center fixed;
    background-size: cover;
}




