.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    font-family: Georgia, 'Times New Roman', Times, serif;

}

nav {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

footer {
    background-color: grey;
}